
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="box-body">
    <div class="row">
        <div class="col-md-8">
            <p class="text-center">
                <strong>Website Visits Mon-Sun</strong>
            </p>
            <div class="chart">
                <!-- Sales Chart Canvas -->
                <canvas id="salesChart" height="190" width="540" style="width: 540px; height: 190px;"></canvas>
            </div><!-- /.chart-responsive -->
        </div><!-- /.col -->

    </div><!-- /.row -->
</div>