@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>About Us</h1>
<p style="background-color:whitesmoke;margin:20px">Don’t just watch the movie, become part of it! IMAX provides the most immersive cinematic experience in the world. IMAX is Believing!

IMAX Melbourne’s screen is the world’s third largest and spans a massive 32 metres wide x 23 metres high. But visiting IMAX Melbourne goes beyond just seeing a movie on a huge screen.  The size of the screen combines with a set of revolutionary projection systems, customised theatre geometry and 15,000 watts of digital surround sound to deliver the ultimate movie going experience.

Since our opening in 1998 IMAX Melbourne Museum has attracted over 5 million visitors who have experienced everything from visually stunning IMAX 3D documentaries to the biggest Hollywood blockbusters.

Our team of dedicated staff are committed to delivering exceptional customer service and aim to please every time you visit.  We welcome and invite you to enjoy a premium experience from the moment you step through the doors at IMAX Melbourne Museum.

We look forward to seeing you here soon.</p>


<img style="margin-left:400px" src="~/Images/MAP.PNG">
<div style=" margin-top:130px"></div>